.container-fluid {
    // background: linear-gradient(270deg, #0b8ef1, #ee8637 50%, #781dee, #3743ee);
    // background-size: 800%;
    height: 100%;
    width: 100%;
    padding-top: 1rem;
    // -webkit-animation: MovingBackground 30s ease infinite;
    // -moz-animation: MovingBackground 30s ease infinite;
    // animation: MovingBackground 30s ease infinite;
}

.color-change-5x {
	-webkit-animation: color-change-5x 8s ease-in-out infinite alternate both;
	        animation: color-change-5x 8s ease-in-out infinite alternate both;
}

 @-webkit-keyframes color-change-5x {
    0% {
      background: #0b8ef1;
    }
    33% {
      background: #ee8637;
    }
    66% {
      background: #781dee;
    }
    100% {
      background: #3743ee;
    }
  }
  @keyframes color-change-5x {
    0% {
        background: #0b8ef1;
      }
      33% {
        background: #ee8637;
      }
      66% {
        background: #781dee;
      }
      100% {
        background: #3743ee;
      }
  }
  

@-webkit-keyframes MovingBackground {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes MovingBackground {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes MovingBackground {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

#card {
    width: 30vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.733);
    overflow-y: auto;
    overflow-x: hidden;
}

@media(max-width: 720px) {
    #card {
        width: 80vw;
    }
}

.cardRegister {
    height: 70vh;
    max-height: 80vh;
}

#content {
    margin-top: 5%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#title {
    color: white;
    margin-top: 4%;
    font-size: 3vw;
}

.actionText {
    cursor: pointer;
    color: #0000EE;
}

.focus-in-expand {
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}