@mixin card-layout {
    #cardContainer {
        flex: none;
        margin-top: -1.5%;
        margin-bottom: 1%;
    }
    
    @media(max-width: 900px) {
        #cardContainer {
            margin-left: 1.4vw;
        }
    }
    
    @media(max-width: 600px) {
        #cardContainer {
            margin-left: auto;
            margin-right: auto;
        }
    }
}