<div class="container-fluid">
    <div class="form-group">
        <label>Nombre de usuario</label>
        <input type="text" class="form-control" placeholder="Nombre de usuario" [(ngModel)]="miUsuario.nombre">
        <label>Contraseña</label>
        <input type={{type}} class="form-control" placeholder="Contraseña" [(ngModel)]="miUsuario.clave">
        <div class="form-row">
            <input type="checkbox" [(ngModel)]="showPass" (click)="showPassword()" name="check">
            <label for="check">Mostrar contraseña</label>
        </div>
        <button class="btn btn-primary form-control" (click)="registrarUsuario()">Registrar</button>
        <button class="btn btn-danger form-control" style="margin-top: 1rem;" (click)="cancelarEdit()">Cancelar</button>
    </div>
</div>