.title {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 2%;
    color: white;
}

#inscriptionButton {
    width: 95%;
    margin-left: 2.5%;
    color: white;
}

.formField {
    width: 95%;
    margin-left: 6%;
}

.containers {
    width: 95%;
    padding-left: 5%;
    margin-top: 3%;
}
